.footer {
  display:        flex;
  flex-direction: row;
  bottom: 0;
}

.footer_left {
  text-align: left;
  float:      left;
  width:      33vw;
}

.footer_center {
  left:       0;
  right:      0;
  text-align: center;
  width:      33vw;
}

.footer_right {
  float:      right;
  text-align: right;
  width:      33vw;
}