
.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.email{
    width:600px;
    height: 35px;
}

.password{
    width:600px;
    height: 35px;
}



